.container-fluid
  div(ng-include="'components/navbar/navbar.html'")
  .row
    .col-sm-5
      .header
        h2 Library
        .action add
      .row
        .col-sm-4
          filters()
        .col-sm-8
          .scrollview.sources
            .item(
              ng-repeat="item in items"
              dnd-draggable="item"
              dnd-effect-allowed="move"
              dnd-moved="list.splice($index,1)"
              ng-class="getSourceClass(item)") {{item.name}}

    .col-sm-2
      // todo - image for draggables goes here?
      ul.trash(
        dnd-list="trash"
      )

    .col-sm-5
      .header
        h2 Set
        //- .action new
        //- .action load
      .scrollview(
        ng-style="{height: getScrollviewHeight()}"
      )
        .row.folder(
          ng-repeat="folder in set | orderBy:'name'"
        )
          .col-sm-6
            .name {{folder.name}}
          .col-sm-6
            .items(
              dnd-list="folder.items"
              dnd-drop="drop(item,folder)"
            )
              .item(
                ng-repeat="item in folder.items"
                dnd-draggable="item"
                dnd-effect-allowed="move"
                dnd-moved="folder.items.splice(folder.items.indexOf(item),1)"
                ng-class="{synth: item.type=='synth', sample: item.type=='sample', faded: item.dragging}") {{item.name}}