.container-fluid
  div(ng-include="'components/navbar/navbar.html'")
  .row
    .col-sm-5
      .header
        h2 Library
        .action add
      .row
        .col-sm-4
          filters()
        .col-sm-8
          .item(
            ng-repeat="item in items"
            data-drag="true" 
            jqyoui-draggable="{index:{{$index}}, onStart: 'startedDragging(item)', onStop: 'stoppedDragging(item)', placeholder: 'keep'}"
            data-jqyoui-options="draggableOptions" 
            ng-model="items"
            ng-class="item.type") {{item.name}}

    .col-sm-2
      // todo - image for draggables goes here?

    .col-sm-5
      .header
        h2 Set
        .action new
        .action load
      .row.folder(
        ng-repeat="folder in set | orderBy:'name'"
        data-drop="true"
        ng-model="folder.items"
        jqyoui-droppable="{onOver: 'draggedOver(folder)', onOut: 'draggedOut(folder)', onDrop: 'dropped(folder)'}"
        data-jqyoui-options="droppableOptions" 
      )
        .col-sm-6
          .name {{folder.name}}
        .col-sm-6
          .item(
            ng-repeat="item in folder.items | orderBy:'name'"
            data-drag="true" 
            jqyoui-draggable
            data-jqyoui-options="draggableOptions" 
            ng-class="{synth: item.type=='synth', sample: item.type=='sample', faded: item.dragging}") {{item.name}}